.pause-button {
	-fx-text-fill: yellow;
	-fx-font-family: 'Press Start 2P';
	-fx-font-size: 20px;
	-fx-background-color: transparent;
	-fx-border-color: yellow;
	-fx-border-width: 2px;
	-fx-border-radius: 15;
	-fx-background-radius: 15;
	-fx-padding: 10;
}